body{
	font-family: Arial, sans-serif;
	font-size:12px;
	word-spacing:0.3em;
}
.pagewrapper{
	width:1024px;
	margin: 0 auto;
}

.navigation{
	margin: 40px 0 60px 240px;
	padding: 25px 0;
	border-radius: 15px;
	box-shadow:1px 1px 1px 1px #ddd;
	text-align:center;
}
.navigation-link{
	font-size:130%;
	margin: 0 0.8em;
	
}
.nl-purple{color:#6b00b4}
.nl-green{color:#14731b}
.nl-blue{color:#0e73d9}
.nl-orange{color:#ee6e00}
.nl-grey{color:#333333}
.nl-brown{color:#b60700}


.leftcolumn{
	width:200px;
	float:left;
}
.leftcolumn p{
	margin-bottom: 5em;
}
.content{
	margin-left:40px;
	width:784px;
	float:left;
}
.indicator{
	margin: -1.67em 0 0 33%;
	padding: 0;
	display:block;
	list-style:none inside;
	border-radius: 5px;
	overflow:hidden;
	
	/*float:right;*/
}
.indicator-item{
	display:inline-block;
	width:104px;
	text-align:center;
	font-style:italic;
	box-shadow: 0 1px rgba(0,0,0,0.6) inset;
	
	margin: 0 1px 0 0;
}
/*для исправления бага в опере с overflow:hidden 
закругляем уголки у первого и последнего элемента лично :(  */
.opera-first{
	border-top-left-radius:5px;
	border-bottom-left-radius:5px; 
}
.opera-last{
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.ii-Prev{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f8814', endColorstr='#3bad19',GradientType=0 );/*IE*/
	background: -webkit-linear-gradient(top, #2f8814 0%,#3bad19 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, #2f8814 0%,#3bad19 100%); /* FF3.6+ */
	background: -o-linear-gradient(top, #2f8814 0%,#3bad19 100%); /* Opera*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2f8814), color-stop(100%,#3bad19)); /* Chrome,Safari4+ */
	color:#fff;
}
.ii-Curr{
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#94c404', endColorstr='#a4d807',GradientType=0 );/*IE*/
	background: -webkit-linear-gradient(top, #94c404 0%,#a4d807 100%); /* Chrome10+,Safari5.1+ */
	background: -moz-linear-gradient(top, #94c404 0%,#a4d807 100%); /* FF3.6+ */
	background: -o-linear-gradient(top, #94c404 0%,#a4d807 100%); /* Opera*/
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#94c404), color-stop(100%,#a4d807)); /* Chrome,Safari4+ */
	color:#fff;
}
.ii-Next{
	background-color:#f6f6f6;
	color:#000;
}

h1{
	display:inline;
	font-size: 2em;
	font-weight: lighter;
    margin-top: 1em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

.content form{
	margin: 3em 0 0;
}

.form-field{
	padding:1em 0;
	border-style:none;/*убираем рамку по-умолчанию*/
	border-top:1px solid #ccc;	
}
.form-field legend{
	padding-left:0;
	padding-right:0.6em;
	font-style:italic;
	color: #666;
}
.form-item{
	margin:1em 0 2em;
	float:left;
	width:33%;
}
.form-item_last{/*должен располагаться строго после правил для .form-item*/
	width:100%;
}
.form-item-caption{
	margin-bottom:0.5em;
	display:inline-block;
	font-weight:bold;
}

input[name="surname"],input[name="name"]{
	width:80%;
}
input[name="patronymic"]{
	width:90%
}

.form-item input[type="radio"]{
	display:none;
}
.form-item label{
	height:1.2em;
	display:inline-block;
	margin: 0 0.5em;/*должно совпадать с padding в блоке .form-item input[type="radio"]:checked + label*/
	text-align:center;
	font-size:125%;
	border-bottom: 1px dotted #666;	
}
.form-item input[type="radio"]:checked + label{
	margin: 0 0;
	padding: 0 0.5em; /*должно совпадать с margin в блоке .form-item label*/
	border: 0px solid #8cb903;
	border-radius:0.3em;
	color: #fff;
	background-color:#8cb903;
}

select[name="marital_status"]{
	width:90%
}
select[name="nationality"]{
	width:80%
}
select[name="dayOfBirth"]{
	width:23%
}
select[name="monthOfBirth"]{
	width:35%
}
select[name="yearOfBirth"]{
	width:23%
}
input[name="placeOfBirth"]{
	width:95.6%
}
.form-item-hint{
	display:inline-block;
	margin-top:0.5em;
	font-size:90%;
	font-style:normal;
	color:#666;
}

.form-buttons{
	width:736px;
	padding:12px 24px;
	background-color:#f2f2f2;
}
.form-buttons-prev{
	background-color: #bcbcbc;
}
.form-buttons-next{
	float:right;
	background-color: #9ed006;
}
.universalButton{
	display:inline-block;
	text-align: center;
	
	border:none;
	border-radius: 1.5em;
	
	outline: none;/*для FF*/
	box-shadow: 0.05em  0.1em 0.1em rgba(200,200,200,0.7) inset,
				-0.05em  -0.1em 0.1em rgba(0,0,0,0.4) inset;
	text-decoration: none;/*для ссылок*/
	
	color:#fff;
	padding:0.6em 2em;
	cursor:pointer;
}
.form-buttons-prev:hover{
	background-color: #efefef;
}
.form-buttons-next:hover{
	background-color: #5cd206;
}
.universalButton:active{
	box-shadow:  0.2em 0 0.3em 0.1em rgba(0,0,0,0.3) inset,
				-0.2em 0 0.3em 0.1em rgba(0,0,0,0.7) inset;
}
